* {margin: 0; padding:0;}
body{
    height: 712px;
    width: 1280px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(14, 14, 14);
perspective: 150px;
/* width: 100px; */
overflow: hidden;
}
.audio{
    auto
}
p span { 
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    width: 600px;
    text-align: center;
    justify-content: center;
  }
.finish{
text-align: left;
}
.middle{
text-align: left;
margin-bottom: 30px;
}
p{
    /* position: absolute; */
    font-size: 30px;
  color: #fcd000;
  font-weight: bold;
  width: 600px;
  margin: 0 auto;
  transform: rotateX(30deg);
    animation-name: starswars;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-align:left;
    justify-content: center;
}
@keyframes starswars {
    0%   { transform: rotateX(30deg) translateY(400px); }
    100% { transform: rotateX(30deg) translateY(-300px); }
}

